*{
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,a,label,option,select{
    color: #e6242e;
    text-decoration: none;
}
.containerGestion{
    display: flex;
}
.banner{
    display: none;
}
.registroContainer{
    display: flex;
    background-color: #e6242e;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.bannerResponsible{
    background-color: white;
    width: 100%;
}
.bannerResponsible img{
    height: 40px;
    margin: 1%;
}
.return{
    display: flex;
    width: 100%;
}
.return a{
    color: white;
    margin: 10px;
    position: absolute;
    font-size: 140%;
}
.formuarioRegistro{
    background-color: white;
    width: 100%;
    max-width: 412px;
    display: grid;
    justify-items: center;
    margin:auto;
    margin-top: 10%;
    height: 60%;
}
.formuarioRegistro h1{
    margin: 20px auto;
    font-size: 28px;
}

.tipoCuenta{
    display: flex;
}
.tipoCuenta div label{
    font-size: 20px;
}
.alineacionEtiquetas{
    display: flex;
    align-items: center;
}
.alineacionEtiquetas label{
    margin: auto 8px;
}
.docIdentidadContainer{
    display: flex;
    align-items: center;
    width: 80%;
    height: 50px;
    margin: 15px auto;
}
select,input{
    padding: 5px;
    font-size: 20px;
    border: solid 1px #e6242e87;
    margin: 10px auto;
}
input{
    padding: 5px 8px;
}
.docIdentidadContainer select{
    width: 40%;
    height: 40px;
    border-radius: 15px 0px 0px 15px;
}
.docIdentidadContainer input{
    width: 80%;
    height: 28px;
    border-radius: 0px 15px 15px 0px;
}
.nCardContainer{
    display: grid;
    width: 80%;
    margin: 10px auto;
}
.ingresoNroCard{
    border-radius: 10px;
    width: 100%;
    height: 40px;
}
.titleInput{
    position: absolute;
    background-color: white;
}
.passwordNet{
    margin: 10px auto;
}
.ingresoPasswordNet{
    width: 100%;
    display: flex;
}
.ingresoPasswordNet input{
    border-radius: 10px;
    width: 100%;
    height: 40px;
}
.consultarClaveNet{
    display: flex;
    justify-content: space-between;
}
.validadorConteiner{
    margin: 10px auto;
    display: grid;
}
.validador{
    display: flex;
}
.generadorNro{
    width: 30%;
    margin-right: 0px;
    border-radius: 15px 0px 0px 15px;
}
.validadorNro{
    width: 40%;
    margin-left: 0px;
    border-radius: 0px 15px 15px 0px;
    height: 30px;
}
.refreshGeneradorNro{
    background-color: white;
    border: 0px;
    color: #e6242e;
    margin-top: 0px;
    padding: 0px;
}
.confirmBotón{
    width: 100%;
}
.confirmBotón button{
    width: 100%;
    color: white;
    background-color: #e6242e;
    border: 0px;
    height: 50px;
    font-size: 25px;
}
.footerMovil{
    margin: 6px auto;
    margin-bottom: 5px;
    display: flex;
    height: 50px;
}
.footDestok{
    display: none;
}
.passwordNetTeclado{
    display: flex;
    position: absolute;
    width: 100%;
    background-color: #e6242e;
    justify-content: center;
    top: 63px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 3px 20px -12px;
}
.passwordNetTeclado tr th button{
    border: solid 3px white;
    color: white;
    width: 80%;
    margin: 5px;
    background-color: #e6242e;
    border-radius: 10px;
}
.bottonAlt{
    padding: 10px 50px;
}
.bottonEspecial{
    padding: 10px;
}

.ingresoPasswordNet input:focus{
    border-radius: 10px 10px 0px 0px;
}

input:focus,select:focus{
    border: solid 2px #e6242e;
    outline: none;
}

.refreshGeneradorNro:hover{
    border: 0px;
}

a:hover{
    text-decoration: underline 4px #e6242e;
}
input[type=button]:hover{
    border-bottom: solid 4px #e6242e;
    cursor: pointer;
}
.confirmBotón button:hover{
    background-color: #e64124ec;
    cursor: pointer;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;
}


@media(min-width:390px){
    .formuarioRegistro{
        margin: 30% auto;  
    }
}
@media(min-width:405px){
    .return a{
        position: relative;}
}
@media(min-width:700px){
    img{
        height: 100px;
    }
    .formuarioRegistro{
        max-width: 100%;
        margin: 0px;
        height: 50%;
    }
    .continerFormal{
        padding: 15%;
    }
}
@media(min-width:1000px){
    .banner{
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;

    }
    .bannerResponsible{
        display: none;
    }
    .continerFormal{
        padding: 5%;
    }
    .formuarioRegistro{
        box-shadow: 5px 5px 20px #8d1e24;
        border-radius: 5px;
    }
    .confirmBotón{
        display: flex;
        justify-content: center;
    }
    .confirmBotón button{
        width: 50%;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    .passwordNet{
        width: 80%;
    }
    .nCardContainer{
        width: 80%;
    }
    .footerMovil{display: none;}
    .footDestok{display: flex;}
}