*{
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label,option,select{
    color: #e6242e;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #e6242e;
}
input,select{
    border: solid 1px #e6242e87;
    height: 34px;
    padding: 7px;
    font-size: 18px;
}
input:focus,select:focus{
    border: solid 2px #e6242e;
    outline: none;
}

.containerGestion{
    display: flex;
}
.banner{
    padding: 240px 90px;
}
.registroContainer{
    background-color: #e6242e;
    width: 100%;
}
.return{
    margin: 20px;
}
.return a{
    color: white;
}

.bannerResponsible{
    width: 100%;
    background-color: white;
    display: none;
    height: 4%;
    padding: 1px;
}
.bannerResponsible img{
    height: 100%;
    margin-left: 2%;
}

.formuarioRegistro{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    margin: 10% auto;
    background-color: white;
    width: 65%;
    border-radius: 10px;
    box-shadow:  2px 20px 20px #8b161cfa
}
.formuarioRegistro h1{
    margin: 40px auto 15px auto;
    color:#e6242e;
}

.tipoCuenta{
    display: flex;
    justify-content: flex-start;
    width: 450px;
}
.alineacionEtiquetas{
    display: flex;
    align-items: center;
}
.tipoCuenta div label{
    margin: 20px 35px 20px 0px;
    font-size: 20px;
}
.tipoCuenta div input{
    margin: 0px 10px;
}

.docIdentidadContainer{
    width: 450px;
    margin: 15px auto;
    display: flex;
    align-items: center;
}
.docIdentidadContainer select{
    width: 18%;
    border-radius: 10px 0px 0px 10px;
    height: 50px;
    padding: 8px;
    font-size: 18px;
}
.docIdentidadContainer input{
    width: 80%;
    margin: 15px 0px;
    border-radius: 0px 10px 10px 0px;
    height: 34px;
    padding: 7px;
    font-size: 18px;
}

.ingresoNroCard,.ingresoPasswordNet input{
    width: 96%;
    margin: 15px auto;
    border-radius: 10px;
}
.nCardContainer label{
    margin: 0px auto 15px auto;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.nCardContainer label input{
    margin: 0px 10px;
}
.consultarClaveNet{
    margin: 0px auto 15px auto;
    display: flex;
    justify-content: space-between
}

.validador{
    display: flex;
    align-items: center;
    justify-content: center;
}
.generadorNro{
    width: 30%;
    margin: 15px 0px;
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 0px;
}
.validadorNro{
    width: 55%;
    margin: 15px 0px ;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 0px;
}
.refreshGeneradorNro{
    margin-left: 21px;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 32%;
    color: #e6242e;
    border: 0px;
    background: none;
}

.confirmBotón{
    display: flex;
}
.confirmBotón button{
    width: 65%;
    margin: 35px auto;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    background-color: #e6242e;
    color: white;
    border: 0px;
    font-size: 18px;
}

.titleInput{
    position: absolute;
    background: white;
    padding: 2px ;
}

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

a:hover{
    text-decoration: underline 4px #e6242e;
}
input[type=button]:hover{
    border-bottom: solid 4px #e6242e;
    cursor: pointer;
}
.confirmBotón button:hover{
    background-color: #e64124ec;
    cursor: pointer;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;
}

@media (max-width:732px){
    .formuarioRegistro{
        width: 90%;
    }
    .return{
        display: none;
    }
    .registroContainer{
        display: flex;
        flex-direction:column;
    }
    footer{
        color: rgb(212, 212, 212);
    }
}

@media (max-width:1115px){
    .banner{
        display: none;
        position: absolute;
    }
    .return{
        display: none;
    }
    .bannerResponsible{
        display: flex;
    }

}